In [3]:
import pandas as pd
import os

In [128]:
book = pd.read_csv("sales2019.csv")
df = pd.DataFrame(book)
df

,date,user_submitted_review,title,total_purchased,customer_type
0,5/22/19,it was okay,Secrets Of R For Advanced Students,7.0,Business
1,11/16/19,Awesome!,R For Dummies,3.0,Business
2,6/27/19,Awesome!,R For Dummies,1.0,Individual
3,11/6/19,Awesome!,Fundamentals of R For Beginners,3.0,Individual
4,7/18/19,Hated it,Fundamentals of R For Beginners,NaN,Business
...,...,...,...,...,...
4995,4/29/19,Hated it,Fundamentals of R For Beginners,NaN,Business
4996,10/31/19,Never read a better book,R For Dummies,NaN,Business
4997,10/30/19,I learned a lot,R For Dummies,4.0,Individual
4998,8/11/19,it was okay,Fundamentals of R For Beginners,3.0,Business
4999,11/7/19,I learned a lot,Fundamentals of R For Beginners,NaN,Individual

In [145]:

df.user_submitted_review.unique()
df.title.unique()

array(['Secrets Of R For Advanced Students', 'R For Dummies',
       'Fundamentals of R For Beginners', 'R vs Python: An Essay',
       'Top 10 Mistakes R Beginners Make', 'R Made Easy'], dtype=object)

In [156]:
usercount = [0,0,0]
x = "Individual"
# negative, neutral, positive 



print(usercount)

[306, 260, 551]

In [168]:
def query(title, customer_type):
    usercount = [0,0,0]
    for i in range(len(df)):
        if df.loc[i, "title"] == title:
            if customer_type == "all":
                if df.loc[i, "user_submitted_review"] == "it was okay":
                    usercount[2] = usercount[2] + 1
                elif df.loc[i, "user_submitted_review"] == "Awesome!":
                    usercount[2] = usercount[2] + 1
                elif df.loc[i, "user_submitted_review"] == "I learned a lot":
                    usercount[2] = usercount[2] + 1
                elif df.loc[i, "user_submitted_review"] == "Never read a better book":
                    usercount[2] = usercount[2] + 1
                elif df.loc[i, "user_submitted_review"] == "OK":
                    usercount[1] = usercount[1] + 1
                elif df.loc[i, "user_submitted_review"] == "A lot of material was not needed":
                    usercount[1] = usercount[1] + 1
                elif df.loc[i, "user_submitted_review"] == "The author''s other books were better":
                    usercount[1] = usercount[1] + 1
                elif df.loc[i, "user_submitted_review"] == "Would not recommend":
                    usercount[0] = usercount[0] + 1
                elif df.loc[i, "user_submitted_review"] == "Hated it":
                    usercount[0] = usercount[0] + 1
            if df.loc[i, "user_submitted_review"] == "it was okay" and df.loc[i, "customer_type"] == customer_type:
                usercount[2] = usercount[2] + 1
            elif df.loc[i, "user_submitted_review"] == "Awesome!" and df.loc[i, "customer_type"] == customer_type:
                usercount[2] = usercount[2] + 1
            elif df.loc[i, "user_submitted_review"] == "I learned a lot" and df.loc[i, "customer_type"] == customer_type:
                usercount[2] = usercount[2] + 1
            elif df.loc[i, "user_submitted_review"] == "Never read a better book" and df.loc[i, "customer_type"] == customer_type:
                usercount[2] = usercount[2] + 1
            elif df.loc[i, "user_submitted_review"] == "OK" and df.loc[i, "customer_type"] == customer_type:
                usercount[1] = usercount[1] + 1
            elif df.loc[i, "user_submitted_review"] == "A lot of material was not needed" and df.loc[i, "customer_type"] == customer_type:
                usercount[1] = usercount[1] + 1
            elif df.loc[i, "user_submitted_review"] == "The author''s other books were better" and df.loc[i, "customer_type"] == customer_type:
                usercount[1] = usercount[1] + 1
            elif df.loc[i, "user_submitted_review"] == "Would not recommend" and df.loc[i, "customer_type"] == customer_type:
                usercount[0] = usercount[0] + 1
            elif df.loc[i, "user_submitted_review"] == "Hated it" and df.loc[i, "customer_type"] == customer_type:
                usercount[0] = usercount[0] + 1
    print(usercount)

In [171]:
query("Top 10 Mistakes R Beginners Make", "all")

[35, 25, 52]

In [180]:
monthdate = []
for i in range(len(df)):
    monthdate.append(df.loc[i, "date"].replace("/", ""))

len(monthdate)

5000

In [ ]:
for x in range(len(monthdate)):
    if int(monthdate[x][:2]) > 12:
        monthdate[x] = monthdate[x][:1]
    else:
        monthdate[x] = monthdate[x][:2]

monthdate